body
{
	background-color: #2F3336;
	color: #efefef;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}

#mainheader 
{
	margin: 30px auto 0;
	width: 1000px;
}

h1.logo
{
	font-style: italic;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #d1d0b1;
	letter-spacing: 3px;
	margin: 90px 20px 105px 80px;
	float: left;
}

.circular 
{
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	float: left;
	background: url(image.jpg);
}

#main
{
	margin: 30px auto 0;
	width: 1000px;
}
.h1 
{
	font-style: italic;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	/*margin-right: 20px;*/
}
.branch
{
	float: left;
	width: 500px;
}
.b1
{
	width: 450px;
	height: 43px;
	padding-left: 50px;
	padding-top: 30px;

}
.fb
{
	margin: 26px;
	width: 73px;
	height: 92px;
	background-color: #3b5998;
	float: left;
}

.fb:hover
{
	background-color: #3b5898c5;
}

.cv
{
	margin: 26px;
	width: 73px;
	height: 92px;
	background-color: #93c748;
	float: left;
}

.cv:hover
{
	background-color: #92c748bd;
}

.mail
{
	margin: 26px;
	width: 73px;
	height: 92px;
	background-color: #d64a3a;
	float: left;
}

.mail:hover
{
	background-color: #d64a3ad2;
}

.in
{
	margin: 26px;
	width: 73px;
	height: 92px;
	background-color: #0174b1;
	float: left;
}

.in:hover
{
	background-color: #0173b1c7;
}
.content
{
	float: left;
}
.divcontent
{
	background-color: #43474A;
	width: 440px;
	height: 576px;
	padding: 30px;
	line-height: 30px;
}
#footer
{
	text-align: center;
	margin: 20px 0;
}