body
{
	background-color: #2F3336;
	color: #efefef;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}

#mainheader 
{
	margin: 30px auto 0;
	width: 1000px;
}

h1.logo
{
	font-style: italic;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #d1d0b1;
	letter-spacing: 3px;
	margin: 90px 20px 105px 80px;
	float: left;
}

.circular 
{
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	float: left;
	background: url(image.jpg);
}

#main
{
	margin: 30px auto 0;
	width: 1000px;
}
.h1 
{
	font-style: italic;
	font-size: 20px;
	font-weight: 700;
	color: #d1d0b1;
	letter-spacing: 1px;
	margin-top: 30px;
	/*margin-bottom:105px;
	margin-right: 20px;*/
}
.branch
{
	float: left;
	width: 500px;
}

.content
{
	float: left;
	width: 500px;
}